html, body {
    height: 100%;
}

body {
    background-color: #02010c !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

span {
  font-family: monospace;
  font-weight: bold;
}

#output {
  display: flex;
  align-items: center;
  filter: blur(4px);
  transition: .1s filter linear;
}

#output:hover {
  animation-name: unblur;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes unblur {
  0% {
    filter: blur(4px);
  }
  90% {
    filter: blur(0px);
  }
  100% {
    filter: none;
  }
}

a[href^="https://"] {
  text-decoration: underline !important;
}

img {
    width: 32px;
    height: 32px;
    border: 4px solid #080518;
}

img:hover {
    width: 28px;
    height: 28px;
    border: 6px solid #0c0052
}

#container {
    perspective: 800px;
}

#cube {
    margin-left: 30px;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.5s;
}

.face {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(8, 5, 24);
  line-height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
}

#Animals {
  transform: translateZ(100px);
}

#Flowers {
  transform: rotateY(90deg) translateZ(100px);
}

#Foods {
  transform: rotateY(180deg) translateZ(100px);
}

#Places {
  transform: rotateY(-90deg) translateZ(100px);
}

#Sports {
  transform: rotateX(90deg) translateZ(100px);
}

#Weathers {
  transform: rotateX(-90deg) translateZ(100px);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  direction: rtl;
}

.footerText {
  text-align: right;
  font-family: monospace;
  display: inline-block;
}